# Local .terraform directories
**/.terraform/*

# .tfvars files
# *.tfvars
# *.auto.tfvars

# Ignore all .tfstate files
*.tfstate
*.tfstate.*

# Ignore directories named cache
**/cache/

# Terraform lock file
.terraform.lock.hcl

# SSH files
**/ssh/*

# ca authority files
**/ca-authority/*

.DS_Store